.action-add {
  display: flex;
  margin-top: 20px;

  &__button {
    margin-left: 10px;
    padding: 5px;
    background-color: blue;
    border-radius: 3px;
    color: white;
  }
}

.action {
  margin-top: 10px;

  &__row {
    display: flex;
    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.action-buttons {
  display: flex;
  margin-left: 10px;

  &__list {
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}
